<!DOCTYPE html>
<html lang="en">

<head>
    <% include head.ejs %>
</head>

<body>
    <% include header.ejs %>

    <% if(typeof message != 'undefined' && typeof code != 'undefined'){%>
    <div class="col text-center">
        <div class="col text-center alert <%= code == 200 ? 'alert-success' : 'alert-warning'%>" role="alert">
                <%= message %>
        </div>
    </div>
    <% } %>


    <main role="main">
        <div class="container">
            <%- body %>
        </div>
        <% include footer.ejs %>
    </main>
</body>

</html>