<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top ">
    <div class="container">
      <a class="navbar-brand" href="/">PlajAra</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          <% if(typeof localUser == 'undefined') {%>
          <li class="nav-item">
            <a class="nav-link" href="/auth/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Login</a>
          </li>
          <%} else {%>
          <li class="nav-item">
            <a class="nav-link" href="/user/<%= localUser.username %>">Profile</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"> 
              <%= localUser.username %>
              <i class="fa fa-caret-down"></i>
            </a>
            
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/user/account/settings">Settings</a>
              <a class="dropdown-item" href="/auth/logout">Logout</a>
            </div>
          </li>
          <%}%>
        </ul>
      </div>
    </div>
  </nav>
</header>