<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Plajara">
<meta name="author" content="Güven Aydın">

<!-- styles -->
<link href="/lib/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
<link href="/css/style.css" type="text/css" rel="stylesheet">
<link href="/lib/fontawesome/css/font-awesome.css" type="text/css" rel="stylesheet">

<!-- JS -->
<script src="/lib/jquery/jquery.js"></script>
<script src="/lib/bootstrap/js/bootstrap.js"></script>
<script src="/scripts/custom.js"></script>

