<% layout('/shared/_layout') -%>

<div class="container text-center">
<form method="post" class="form-signin" autocomplete="off">
      <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
       <% if(message !== null){ %>
     <div class="alert <% if(code == 200){%> alert-success<%}else{%>alert-danger <%} %>" role="alert">
        <%= message %>
    </div>
     <% } %>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="text" name="uemail" id="uemail" class="form-control" placeholder="Email address" required="" autofocus="" autocomplete="false">
      <label for="inputNick" class="sr-only">Nick name</label>
      <input type="text" name="username" id="inputNick" class="form-control" placeholder="Nick name" required="" autofocus="" autocomplete="false">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="upass" id="inputPassword" class="form-control" placeholder="Password" required="" autocomplete="false">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>